PORT = PORT
MONGO_URI = MONGO_URI

# Access Token
JWT_SECRET=your_access_token_secret_here

# Refresh Token
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here

# Expiry
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d

# Environment
NODE_ENV=development